/* .fi-topbar {
    background-color: #fdfff7;
} */

.fi-main-ctn {
    background-color: rgba(255, 255, 255, 0.75);
}

.fi-simple-layout {
    background-color: #eee5e9;
}
.fi-simple-main {
    background-color: rgba(255, 255, 255, 0.75);
}
